:root.theme-light {
  --color-bg: #fff1f7;
  --color-accent: #ff8dcb;
  --color-link: #353430;
  --color-header-title: #ffc2e6;
  --color-content: #353430;
  --color-question: #353430;
  --color-title-decor: #ff8dcb;
  --color-title: #353430;
  --color-border: #353430;
  --color-hover: rgb(50 49 45 / 0.4);

  --bg-image: url("../images/cover-image-light.png");
  --display-rec: none;
}

@media (prefers-color-scheme: light) {
  :root {
    --color-bg: #fff1f7;
    --color-accent: #ff8dcb;
    --color-link: #353430;
    --color-header-title: #ffc2e6;
    --color-content: #353430;
    --color-question: #353430;
    --color-title-decor: #ff8dcb;
    --color-title: #353430;
    --color-border: #353430;
    --color-hover: rgb(50 49 45 / 0.4);

    --bg-image: url("../images/cover-image-light.png");
    --display-rec: none;
  }
}
